# Ignore Python bytecode files
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore virtual environments
venv/
.env/
env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore other unnecessary files
.git
.gitignore
.idea
.vscode
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
Thumbs.db

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints

# Ignore Python virtual environment - Essential for efficient build contexts
venv/

# Include essential build files - Ensures successful builds
!Dockerfile

# Assuming your source code is in '/app', adjust if necessary
!app/

# Include the notebooks directory - Your core workspace!
!notebooks/  
