# Ignore Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/
env

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore other unnecessary files
.git
.gitignore
.idea
.vscode
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
