[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
qiskit = "*"
qiskit-ibm-runtime = "*"
"qiskit[visualization]" = "*"

azure-quantum = "*"
"azure-quantum[qiskit]" = "*"
qsharp = "*"

qiskit_braket_provider = "*"
amazon-braket-algorithm-library = "*"
amazon-braket-sdk = "*"

qiskit-ionq = "*"
qiskit-aqt-provider = "*"
qiskit-alice-bob-provider = "*"
qiskit-iqm = "*"
qiskit-qulacs = "*"
qiskit-rigetti = "*"
qiskit-scaleway = "*"
qiskit-superstaq = "*"

torchquantum = "*"
qiskit-machine-learning = "*"
qiskit-nature = "*"
qiskit-finance = "*"
qiskit-optimization = "*"
qiskit-dynamics = "*"
qiskit-algorithms = "*"
pyriemann-qiskit = "*"
ffsim = "*"
qiskit-nature-pyscf = "*"
vqls-prototype = "*"
qiskit-aer = "*"
openqasm3 = "*"
mitiq = "*"
PennyLane-qiskit = "*"
qiskit-experiments = "*"
qbraid = "*"
qiskit-serverless = "*"
qlasskit = "*"
mthree = "*"
qiskit-symb = "*"
pytket-qiskit = "*"
qmuvi = "*"
qupython = "*"
dynacir = "*"

[requires]
python_version = "3.11"
